.memory_label {
    -fx-background-color: lightgray;
    -fx-border-color: gray;
    -fx-font-family: consolas;
    -fx-font-size: 22;
    -fx-padding: 0 20 0 20;
}

.i_button_active {
    -fx-font-size: 15;
    -fx-text-fill: blue;
    -fx-font-weight: bold;
    -fx-underline: true;
}
